@media (max-width: 884px) {

    #geral{
        width: 100vw;
    }

    #geral2{
        width: 100vw;
    }

    /* -- -- -- Login -- -- -- */
    #box-login {
        width: 100%;
        background-size: 100%;
        justify-content: center;
        position: relative;
        margin-bottom: 150px;
    }

    #reponsive-box-login {
        width: 600px;
        height: auto;
        flex-wrap: wrap;
    }

    #box-texto-empresa {
        width: 600px;
        margin-top: 0px;
        margin-right: 0px;
    }

    #box-login-2 {
        margin-top: 60px;
    }

    /* -- -- -- Noticias -- -- -- */
    #box-noticia {
        height: 100%;
        width: 100%;
        padding-top: 25px;

        --noticias-height: 220px;
        --noticias-width: 330px;
    }

    #box-noticia-2 {
        width: 800px;
        padding: 20px 20px 20px 0px;
    }

    #box-noticia-titulo {
        margin-left: 58px;
    }

    #box-noticia-3-grid {
        grid-template-columns: 45% 45%;
        grid-column-gap: 0px;
        grid-row-gap: 50px;
    }

    .box-noticia-4 {
        margin-left: 54px;
    }

    /* -- -- -- Rodapé -- -- -- */
    #box-footer {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        min-height: 280px;
        background-color: transparent;
        font-family: 'Seconda Round Light';
    }

}





@media (max-width: 450px) {

    /* -- -- -- Login -- -- -- */
    #box-login {
        height: 1250px;
        background-size: 500%;
        margin-bottom: 120px;
    }

    #reponsive-box-login {
        width: 100vw;
        margin-top: 100px;
    }

    #box-texto-empresa {
        width: 360px;
    }

    #box-login-2 {
        width: 370px;
    }


    /* -- -- -- Noticias -- -- -- */
    .noticias-letra {
        font-size: 16px;
        line-height: 30px;
        margin-top: 15.36px;
    }

    #box-noticia-2 {
        width: 380px;
        text-align: center;
        padding: 0px;
    }

    #box-noticia-titulo {
        font-size: 20px;
    }

    #box-noticia-3-grid {
        place-items: center;
        grid-template-columns: 100%;
        grid-row-gap: 45px;
    }

    .box-noticia-4 {
        margin-left: 0px;
    }

    /* -- -- -- Rodapé -- -- -- */
    #box-footer {
        min-height: 370px;
    }
}





@media (max-width: 375px) {

    /* -- -- -- Login -- -- -- */
    #reponsive-box-login {
        margin-top: 0px;
    }

    #box-texto-empresa {
        width: 345px;
    }

    #box-login-2 {
        width: 345px;
    }
}





@media (max-width: 340px) {

    /* -- -- -- Login -- -- -- */
    #box-login {
        height: 1350px;
        background-size: 700%;
    }

    #box-texto-empresa {
        width: 305px;
    }

    #box-texto-empresa h1 {
        color: #153b44;
        font-family: 'Poppins';
        font-weight: bold;
        font-size: 25px;
        text-align: center;
        margin-bottom: 20px;
    }

    #box-texto-empresa p {
        color: #33353f;
        font-family: 'Poppins';
        font-weight: normal;
        font-size: 14px;
        text-align: justify;
        line-height: 26px;
    }

    #box-login-2 {
        width: 305px;
    }


    /* -- -- -- Login Titulo -- -- -- */
    #box-login-2 h1 {
        font-family: 'Poppins';
        font-size: 26px;
        margin-bottom: 8px;
        color: #153b44;
    }

    /* -- -- -- Campos -- -- -- */
    .input-field {
        position: relative;
        display: inline-block;
        margin: 10px;
        width: 300px;
    }

    #box-login-2 input {
        display: inline-block;
        width: 80%;
        height: 30px;
        border: none;
        outline: none;
        font-size: 15px;
        border-bottom: 1px solid #006972;
        background-color: transparent;
        padding-left: 34px;
        color: #33353f;
        font-family: 'Poppins';
        font-weight: normal;
    }

    ::placeholder {
        font-family: 'Seconda Round Light';
        color: #4f4f4f;
    }

    #box-login-2 input:is(:focus, :valid) {
        border-bottom: 1px solid #1d79c4;
    }

    /* -- -- Icones dos Input's -- -- */
    .cadastrar-icons {
        width: 20px;
        height: 18px;
        position: absolute;
        left: 0;
        transform: translateY(-50%);
        filter: invert(18%) sepia(58%) saturate(4769%) hue-rotate(172deg) brightness(89%) contrast(102%);
    }

    #email-icon {
        top: 48%;
        left: 11%;
    }

    #senha-icon {
        top: 44%;
        left: 11%;
    }

    #box-login-2 input:is(:focus, :valid)~.cadastrar-icons {
        filter: invert(26%) sepia(78%) saturate(1933%) hue-rotate(205deg) brightness(91%) contrast(90%);
    }

    #box-login-2 input:is(:focus, :valid)~.esconder-mostrar-senha {
        filter: invert(18%) sepia(100%) saturate(2434%) hue-rotate(193deg) brightness(105%) contrast(83%);
    }

    /* -- -- Icone do Olho (esconder ou mostrar senha) -- -- */
    .esconder-mostrar-senha {
        width: 20px;
        height: 18px;
        position: absolute;
        top: 48%;
        right: 11%;
        transform: translateY(-52%);
        filter: invert(30%) sepia(17%) saturate(3998%) hue-rotate(149deg) brightness(107%) contrast(93%);
    }

    /* -- -- -- Noticias -- -- -- */
    #box-noticia {
        --noticias-height: 190px;
        --noticias-width: 300px;
    }

    #box-noticia-2 {
        width: 310px;
    }

    #box-noticia-titulo {
        margin-left: 20px;
    }

    .imagem-noticia-sombra {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
    }

    /* -- -- -- Rodapé -- -- -- */
    #box-footer {
        min-height: 360px;
    }
}